/* Basic style */

body{
    background-color: rgb(187, 250, 187);
}

.main{
    width: 80%;
    margin: auto;
}

/* header style */
.header{
    width: 100%;
    height: auto;
}

.nav > h1{
    font-size:35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: inline-block;
}

.nav{
    margin-top:20px;
    background-color: rgb(91, 151, 137);
    width: 100%;
    height:auto;
}

ul{
    list-style-type: none;
    
}

 ul > li{
    display: inline-block;
    word-spacing: 20px;
    padding: 5px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    
}


li >a{
    text-decoration: none;
    color: white;
         
}

.pic{
    width: 100%;
    height: 400px;
}

/* content style */

.content > h1{
    font-size:50px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.content> h2{
    font-weight: 400;
    color: rgba(11, 20, 20, 0.747);
    font-size: 25px;
}

.content > p{
    font-size: 23px;
    color:rgba(11, 20, 20, 0.747) ;

}

/* footer style */

.footer{
    background-color:rgb(91, 151, 137) ;
    width: 100%;
    height: auto;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: white;
}

/* body style */

.body > h1{
    font-size:30px ;
    color:rgba(11, 20, 20, 0.747) ;
}

.body > p{
    font-size: 20px;
    color:rgba(11, 20, 20, 0.747) ;
}

/* table style */

.table{
   background-color: rgb(167, 221, 167);
   margin-bottom:20px ; 
   margin: 100px;
   
}

/* form style */

.form{
    
    background-color:rgb(132, 190, 132) ;
    width: 550px;
    padding-bottom: 10px;
}


.head > h1{
    font-weight: 500;
    margin-right: 250px;
   padding: 20px;
   font-family:Arial, Helvetica, sans-serif 
}

.head > h2{
    margin-right:18px ;
}

.lab1{
    margin-left: -32px;
    
   
}

.lab1 > input{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    margin-left: 0;
    font-size: 15px;
    padding: 5px;
}

.lab1 p{
    margin-left: -320px;
    font-size: 20px
   
}

.mess > input{
    padding: 5px;
    width: 400px;
    height: 40px;
    margin-left: 0;
    border-radius: 10px;  
}

.sub{
   background-color: green;
    
}




